html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: 'Playfair Display', serif;
    color: rgb(98,98,98);
    margin: 0;
}
img {
    display: blok;
    max-width: 100%;
    height: auto;
}
.container {
    width: 900px;
    margin: 0 auto;
}
.main-header {
    padding-top: 74px;
    padding-bottom: 94px;
}
.main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 0;
}
.main-menu-item {
    display: inline-block;
    margin-right: 100px;
}
.main-menu li:last-child {
    margin-right: 0;
}
.main-menu a:hover,
.main-menu a:focus {
    color: rgb(0,0,255);
}
.main-menu-link {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color:rgb(98,98,98);
    text-transform: uppercase; 
    text-decoration: none; 
    margin-bottom: 0;
}
.article-block:nth-child(2n) {
    margin-right: 0;
}
.article-block {
    display: inline-block;
    width: 418px;
    margin: 0;
   margin-bottom: 138px;
   margin-right: 60px;
   vertical-align: top;
   font-size: 0;
}
.main-content-subtitle {
    color: rgba(98,98,98,.5);
    font-size: 14px;
    line-height: 16px;
    font-weight: 300; 
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 32px;
}
.main-content-image {
    margin-bottom: 30px;
}
.headline {
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 40px;
}
.text {
    font-size: 14px;
}
.box-in {
    font-size: 20px;
    line-height: 24px;
    width: 160px;
    height: 60px;
    display: block;
    margin: 0 auto;
}
.rest {
    padding-bottom: 60px;
    font-size: 0;
}
