/* * {
  outline: 1px solid red;
} */
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-v13-latin-regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/montserrat-v13-latin-700.woff);
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Titillium Web";
  src: url(../fonts/TitilliumWeb-Italic.ttf);
  font-weight: 300;
  font-style: light;
}
.wrapper {
  width: 940px;
  margin: 0 auto;
}
/* HEDER */
.header {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.menu {
  display: flex;
  justify-content: space-between;
  right: 0;
  list-style: none;
  text-align: center;
  width: 480px;
}
.item-men {
  font-family: Montserrat;
  font-weight: normal;
  text-transform: uppercase;
}
.menu-item:hover {
  color: #f5f543;
}
/* SERVICES */
h2 {
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 75px;
  text-align: center;
}
.text {
  font-family: Titillium Web;
  font-weight: normal;
  text-align: center;
  font-size: 16px;
  margin-bottom: 70px;
}
.services {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  padding-bottom: 100px;
}
.services li:last-child {
  margin: 0;
}
.service-item {
  margin-right: 30px;
}
.img-service {
  display: block;
  margin: 0 auto;
  background-position: center;
  border: 2px solid #f5f543;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  background-repeat: no-repeat;
}
.one {
  background-image: url(../img/icon1.png);
}
.two {
  background-image: url(../img/icon2.png);
}
.three {
  background-image: url(../img/icon3.png);
}
.name-service {
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
}
.service-text {
  text-align: center;
}
/* CONTACT US */
.contact {
  width: 100%;
  background-color: black;
  /* background-image: url(../img/map.png); */
  padding-bottom: 110px;
  padding-top: 80px;
}
.map {
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  width: 600px;
  height: 600px;
  top: 820px;
}
.contuct-title {
  color: white;
  margin-bottom: 0;
}
.text-contact {
  font-family: Titillium Web;
  font-weight: light;
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 74px;
}
.singup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 456px;
  height: 210px;
  margin: 0 auto;
}
.singup-form input {
  height: 50px;
  padding-left: 26px;
  border: 0;
}
.mesage {
  line-height: 50px;
}
.form {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  width: 940px;
  justify-content: space-between;
  margin: 0 auto;
}
.singup-form input:focus {
  outline: 0;
  padding-bottom: 5px;
}
/* .form input[name='email']:valid{
  border-color: green;
} */
.singup-form input[name="user-name"]:invalid {
  border-color: red;
}
.singup-form input[name="user-email"]:invalid {
  border-color: red;
}
.singup-form input[name="Message"]:invalid {
  border-color: red;
}
.singup-form input[name="user-name"]:valid {
  border-color: green;
}
.singup-form input[name="user-email"]:valid {
  border-color: green;
}
.singup-form input[name="message"]:valid {
  border-color: green;
}

.submit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  width: 240px;
  height: 60px;
  background-color: #f5f543;
  color: #ffffff;
  text-transform: uppercase;
  border: 0;
}
.button {
  height: 100px;
  position: relative;
}
.mesage textarea {
  display: block;
  padding-left: 26px;
  padding-top: 20px;
}
