.fone {
     width: 1900px;
     height: 1000px;
     margin: 0 auto;
     position: relative;
    margin-bottom: 46px;
    background: linear-gradient(to bottom left, rgba(255, 153, 153, 0.8), rgba(255, 204, 102, 0.8)), url(../img/bird@x1.png) no-repeat;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .box {
      background: linear-gradient(to bottom left, rgba(255, 153, 153, 0.8), rgbargba(255, 204, 102, 0.8)), url(../img/bird@x1.png) no-repeat;
    } 
  