html/ {
    box-sizing: border-box;
}

*
*::before
*::after {
    box-sizing: inherit;
}

body {
font-family: 'Roboto', sans-serif;
}

/* HEADER */
.container {
    padding: 20px 0;
   width: 1114px;
   margin: 0 auto;  
   margin-bottom: 90px;
}
.site-logo {
    display: inline-block;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.site-navigation {
    float: right;
    font-size: 14px;
    width: 490px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 6px;
}
.site-navigation li {
    float: left;
    margin-right: 36px;
}
.site-navigation li:nth-child(6) {
    margin-right: 0;
}
.site-navigation a {
    color: #0f0101;
    font-weight: bold;
    font-family: Open Sans;
    text-transform: uppercase;
    text-decoration: none; 
}
/* HOVER NAVIGATION */
.site-navigation a:hover {
    color: #1abc9c;
}
.site-navigation a:focus {
    color: #1abc9c;
}

/* H2 */
.headline {
    color: #555252;
    font-size: 48px;
    line-height: 114px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 60px;
}
.headline::after {
    display: block;
    content: "";
    height: 8px;
    width: 170px;
    background-color: #4ec6ab;
    margin: 0 auto;
}

/* PRODUCT CATALOG */
.product {
    width: 1114px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 90px;
    
}
.product-list {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.product-list-item {
    height: 320px;
    width: 256px;
    float: left;
    background-color: #e9f0fd;
}
.product-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}
.product-list-item:not(:nth-last-child(-n+4)) {
    margin-bottom: 30px;
}
.product-list a {
    display: inline-block;
    box-sizing: border-box;
    background-color: #323232;
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    height: 40px;
    width: 256px; 
    padding-left: 10px;
}
/* HOVER PRODUCT */
.product-list-item:hover .product-list {
    background-color: #1abc9c;
}
.product-list-item:hover .prise {
    background-color: #7fd9c7;
}
.product-list-item:focus .product-list {
    background-color: #1abc9c;
}
.product-list-item:focus .prise {
    background-color: #7fd9c7;
}
.prise {
    display: inline-block;
    width: 50px; 
    height: 40px;
     background-color:#929292;
   float: right;
   vertical-align: middle;
   padding-left: 10px;
 }
/* NEWS */
.news {
    width: 1114px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 44px;
}
.news-list {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.news-list-item {
    width: 350px;
    float: left;
}
.news-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}
p {
    color: #555252;
    font-family: Open Sans;
}
p.news-title {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 30px;
}
.news-title::after {
    display: block;
    content: "";
    height: 4px;
    width: 140px;
    background-color: #4ec6ab;
    margin-top: 8px;
}

p.news-info {
    line-height: 26px;;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 18px;
}
/* BOTTOM */
.key {
    display: inline-block;
    color: #ffffff;
    width: 160px;
    height: 50px;
    font-size: 16px;
    line-height: 26px;
    font-family: Open Sans;
    font-weight: 300;
    background-color: #4ec6ab;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    

}
