html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Kaushan Script", cursive;
  font-family: "Montserrat", sans-serif;
}
 /* * {
    outline: 1px solid red;
}  */


/* FONE */
  .fone {
   width: 1900px;
   height: 1000px;
   margin: 0 auto;
   position: relative;
  margin-bottom: 46px;
  background: linear-gradient(to bottom left, rgba(255, 153, 153, 0.8), rgba(255, 204, 102, 0.8)), url(../img/bird@x1.png) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .box {
    background: linear-gradient(to bottom left, rgba(255, 153, 153, 0.8), rgbargba(255, 204, 102, 0.8)), url(../img/bird@x1.png) no-repeat;
  } 


  /* WORK PAGE */
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.header {
  position: absolute;
  top: 36px;
  min-height: 100px;
}
.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu__menu-item {
  font-size: 14px;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.menu__item-men {
  display: block;
  height: 26px;
  padding-top: 6px;
}
.menu__item-men:hover {
  color: #ffcccc;
  border-bottom: #ffcccc solid 4px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.menu__svg {
  fill:  #ffffff;
  width: 30px;
  height: 30px;
  padding-top: 6px;
}
.menu__svg:hover {
  fill: #ffcccc;
}
.header__header-name {
  font-size: 72px;
  font-family: "Kaushan Script", cursive;
  font-style: italic;
  color: #ffffff;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 36px;
}
.header__header-text {
  width: 830px;
  font-size: 150px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 82px;
}
.header__learn-more {
  width:160px;
  height: 38px;
  font-size: 14px;
  padding: 0;
  padding-top: 10px;
  margin: 0 auto;
  color: #ffffff;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  text-align: center;
}

/* ABOUT US H2, H3 */
.about {
  width: 1200px;
  margin: 0 avto;
  margin-bottom: 90px;
}
.about__abou-us {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
}
.about__serwices {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0 avto;
}
.about__serwices::after {
  display: block;
  content: "";
  height: 4px;
  width: 60px;
  background-color: #ffcccc;
  margin: 0 auto;
  margin-top: 40px;
}

/* MAIN ABOUT US */
.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}
.about-list {
  padding: 10px;
  -ms-flex-preferred-size: 380px;
      flex-basis: 380px;
  padding-left: 70px;
  position: relative;
}
.about-list__picture {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
.about-list__for-picture {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}
/* FON PICTURES */ 
 .about-list__alarm::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(/img/clock.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-left: -45px;
}
.about-list__book::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/BOOK\ 2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-left: -45px;
} 
.about-list__svg-pic {
  display: block;
  position: absolute;
  margin-left: -55px;
  margin-top: 20px;
}
.about-list__computer::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/COMPUTER\ _\ OK.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -45px;
}
.about-list__home::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/HOME.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-left: -45px;
}
.about-list__image::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/IMAGE.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-left: -45px;
}
.about-list__line::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url(../img/LINE\ GRAPH.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin-left: -45px;
} 
.about-list:nth-child(-n + 3) {
  margin-bottom: 30px;
}

/* OUR TEAM */
.team {
  margin-bottom: 90px;
}
.about__about-text {
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
  margin: 0 auto;
  margin-bottom: 100px;
}
/* CARDS TEAM */
.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}
.team-list {
  position: relative;
}
.team-list__transparent {
  width: 380px;
  height: 472px;
  position: absolute;
  top: 0;
  opacity: 0;
}
.team-list:hover .team-list__transparent {
  opacity: 0.5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9999), to(#ffff99));
  background-image: -webkit-linear-gradient(top, #ff9999, #ffff99);
  background-image: -o-linear-gradient(top, #ff9999, #ffff99);
  background-image: linear-gradient(to bottom, #ff9999, #ffff99);
  -webkit-box-shadow: 10px 10px 0 rgba(153, 204, 255, 0.7);
          box-shadow: 10px 10px 0 rgba(153, 204, 255, 0.7);
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  transition: -webkit-box-shadow 0.2s linear;
  -o-transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}
.team-list__name {
  text-transform: uppercase;
  text-align: center;
}
.team-list__job {
  font-family: "Roboto", sans-serif;
  color: rgb(153, 140, 140);
  font-style: italic;
  text-align: center;
  margin: 0 auto;
}
/* ICONS */
.for-icons {
  position: relative;
  width: 380px;
  height: 472px;
}
.icons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  padding: 0;
  margin: 0 auto;
  opacity: 0; 
  width: 230px;
}
.team-list:hover .icons {
  opacity: 1;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.icons__icon-social {
  display: block;
  width: 56px;
  height: 56px;
  text-decoration: none;
  background-color: #ffcc99; 
  text-decoration: none;
  padding-top: 14px;
  padding-left: 14px;
} 

.icons__social {
  display: block;
  fill: #ff9999;
  background-color: #ffcc99; 
}
.icons__social:hover {
  fill: rgb(255, 255, 255);
  background-color: #ffcc99;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

/* FOOTER */
.footer-box__info {
  line-height: 60px;
}
.footer-box__info::before {
  content: "\233e";
}
.footer-box__name-footer {
  color: #ffcccc;
  padding-left: 4px;
}
.footer-box {
  border: 2px solid rgb(247, 239, 239);
  position: relative;
}
.footer-box__mail {
  border: 2px solid rgb(247, 239, 239);
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: rgb(153, 140, 140);
  width: 380px;
  line-height: 40px;
  position: absolute;
  right: 0;
  top: 26px;
}
.footer-box__button {
  width: 150px;
  height: 40px;
  color: #ffffff;
  background-color: #99cccc;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visuali-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
